---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].education_label | default: "Education" }}</h3>
<article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <h3 class="archive__item-title" itemprop="headline">{{ site.data.ui-text[site.locale].education1_name | default: "State University of the Republic of Moldova" }}</h3>
    <p class="archive__item-excerpt" itemprop="description">{{ site.data.ui-text[site.locale].education1_description | default: "Chemistry" }}</p>
    <p class="sidebar__right">{{ site.data.ui-text[site.locale].education1_date | default: "1997-1999" }}</p>

    <h3 class="archive__item-title" itemprop="headline">{{ site.data.ui-text[site.locale].education2_name | default: "Penn Foster College" }}</h3>
    <p class="archive__item-excerpt" itemprop="description">{{ site.data.ui-text[site.locale].education2_description | default: "Business Management with option Finance" }}</p>
    <p class="sidebar__right">{{ site.data.ui-text[site.locale].education2_date | default: "2006-2012" }}</p>

    <h3 class="archive__item-title" itemprop="headline">{{ site.data.ui-text[site.locale].education3_name | default: "JavaRush" }}</h3>
    <p class="archive__item-excerpt" itemprop="description">{{ site.data.ui-text[site.locale].education3_description | default: "Java Programming" }}</p>
    <p class="sidebar__right">{{ site.data.ui-text[site.locale].education3_date | default: "2018-2020" }}</p>
</article>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].experience_label | default: "Work experience" }}</h3>



<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].projects_label | default: "Own projects" }}</h3>
<article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <h3 class="archive__item-title" itemprop="headline">{{ site.data.ui-text[site.locale].project1_name | default: "Grigoriev Finance Ltd." }}</h3>
    <a href="https://www.grigorievfinance.com" class="visible-links">{{ site.data.ui-text[site.locale].project1_link | default: "https://www.grigorievfinance.com" }}</a>
    <p class="sidebar__right">{{ site.data.ui-text[site.locale].project1_foundation | default: "2007" }}</p>

    <h3 class="archive__item-title" itemprop="headline">{{ site.data.ui-text[site.locale].project2_name | default: "Neural Predictor" }}</h3>
    <a href="https://github.com/grigorievfinance/NeuralPredictor" class="visible-links">{{ site.data.ui-text[site.locale].project2_link | default: "https://github.com/grigorievfinance/NeuralPredictor" }}</a>
    <p class="sidebar__right">{{ site.data.ui-text[site.locale].project2_foundation | default: "2012" }}</p>

    <h3 class="archive__item-title" itemprop="headline">{{ site.data.ui-text[site.locale].project3_name | default: "Making Landing" }}</h3>
    <a href="https://www.making-landing.ru/" class="visible-links">{{ site.data.ui-text[site.locale].project3_link | default: "https://www.making-landing.ru/" }}</a>
    <p class="sidebar__right">{{ site.data.ui-text[site.locale].project3_foundation | default: "2018" }}</p>
</article>